@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~react-credit-cards/es/styles-compiled.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-weight: bold;
  font-style: normal;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 1.5em;
}
.ant-layout-header {
	padding: 0
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display:none;
}